html {
 margin : 0px;
 padding: 0px;
 font-family: 'Lato';
}

.wrapper {
  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  height: 100%;
}

nav {
 border-bottom: 1px solid #f3eded;
 height: 10%;
 color: #F76861;
}

logo {
 overflow: hidden;
 float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav li {
    float: right;
}

nav li a {
    display: block;
    color: #F76861;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
footer li a:hover {
    color: black;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

footer li {
    float: right;
}

footer li a {
    display: block;
    color: #3C6398;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
footer li a:hover {
    color: #50E3C2;
}
