<!DOCTYPE html>
<html>
  <head>
    <title>M.L.R</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>
  <body>
    <nav>
      <logo>M.L.R</logo>
<ul>
<li><a href="/">data science</a></li>
<li><a href="/about">about</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:lislemitchell@gmail.com">email</a></li>
   <li><a href="https://github.com/mitchelllisle">github.com/mitchelllisle</a></li>
   </ul>
  </footer>
  </body>

</html>
